# .gitignore
*
!Blueprint
!ProjectBackend/LocalStorage
!ProjectBackend/LocalStorage/workflow
!ProjectBackend/LocalStorage/workflow/**
!ProjectBackend/LocalStorage/LocalStorage.md
!README.md
!GUI
!GUI/build
!GUI/build/**
!GUI/lib/
!GUI/lib/**
!ProjectBackend/
!ProjectBackend/Interpreter/__init__.py
!ProjectBackend/Interpreter/math_utils.py
!ProjectBackend/Interpreter/sql_utils.py
!ProjectBackend/AgentHistory
!ProjectBackend/AgentHistory/dummy.json
!ProjectBackend/server.py
!ProjectBackend/Interpreter
!ProjectBackend/LLM/
!ProjectBackend/LLM/dummy.gguf
!ProjectBackend/central_backend.py
!ProjectBackend/sandbox.py
!ProjectBackend/Interpreter/ppt_interpreter.py
!ProjectBackend/Interpreter/docx_interpreter.py
!ProjectBackend/Interpreter/xcel_interpreter.py
!ProjectBackend/Interpreter/csv_interpreter.py
!ProjectBackend/Interpreter/pdf_interpreter.py
!ProjectBackend/Interpreter/zip_interpreter.py
!ProjectBackend/Interpreter/image_and_encoded_image_interpreter.py
!ProjectBackend/Interpreter/video_interpreter.py
!cli.py
!start.py